<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title> 온라인 감정나눔카드 </title>

    <style>

    body {
        background: #2ecc71;
        font-size: 62.5%;
        margin: 0 auto;
        padding: 0;
    }




.container {
  padding: 2em;
}



/* GENERAL BUTTON STYLING */
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #2ecc71;
}

/* BUTTON 1 */
.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-1:hover:after {
  height: 100%;
}

/* BUTTON 2 */
.btn-2::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn-2:hover:after {
  width: 100%;
}

/* BUTTON 3 */
.btn-3::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.btn-3:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}


</style>

</head>
<body>
    <div class="backgroundImage">
        <div class="container">
            <button type="button" data-bs-toggle="modal" data-bs-target="#modal-btn1" class="btn-1">감정카드 설명</button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modal-btn2" class="btn-2">방 만들기</button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modal-btn3" class="btn-3">방 입장하기</button>

            <div class="modal fade" id="modal-btn1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">감정카드 설명</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>

            <form method="post" action="/makeRoom" onsubmit="return true">
                <div class="modal fade" id="modal-btn2" tabindex="-1" aria-labelledby="makeRoom-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="makeRoom-label">방 만들기</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-floating mb-3">
                                    <input type="text" name="title" class="form-control" id="makeRoom-floatingName" placeholder="이름">
                                    <label for="makeRoom-floatingID">방 소개</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" name="name" class="form-control" id="makeRoom-floatingName" placeholder="이름">
                                    <label for="makeRoom-floatingID">이름</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">방 만들기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form method="post" action="/enterRoom" onsubmit="return true">
                <div class="modal fade" id="modal-btn3" tabindex="-1" aria-labelledby="enterRoom-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="enterRoom-label">방 입장하기</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-floating mb-3">
                                    <input type="text" name="roomId" class="form-control" id="enterRoom-floatingID" placeholder="입장코드">
                                    <label for="enterRoom-floatingID">입장코드</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" name="name" class="form-control" id="enterRoom-floatingName" placeholder="이름">
                                    <label for="enterRoom-floatingID">이름</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" >입장하기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>



            <form id="loginField" name="loginField" method="post" action="/user_info" onsubmit="return checkForm()">
                <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">방 만들기</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-floating mb-3">
                                    <input type="text" name="roomNo" class="form-control" id="floatingID" placeholder="00000000">
                                    <label for="floatingID"></label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" name="name" id="name" class="form-control" id="floatingName" placeholder="이름">
                                    <label for="floatingID">이름</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                <button type="submit" class="btn btn-dark" name="test" >등록</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
